DEBUG=1
SECRET_KEY=foo
DJANGO_ALLOWED_HOSTS=*
SQL_ENGINE=django.db.backends.mysql
SQL_DATABASE=your_database
SQL_USER=username_for_database
SQL_PASSWORD=password_for_database
SQL_HOST=hostname_or_ip_address
SQL_PORT=3307
DATABASE=mariadb

#DEFINE APPS HERE, NOT USED FOR NOW!
APPS=ldap_example incident_register