{% load static %}
<html>
    {% block css %}
    <link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}?{% now 'u' %}"  />
    
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static "DataTables/datatables.min.css" %}" />

    <script type="text/javascript" src="{% static "DataTables/datatables.min.js" %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    {% block javascript %}
    {% endblock %}

    <div id='root-body'>
        <div id='body-content'>
            <div id='header'>
                <div style='padding-bottom: 55px;'>
                    <div id='logo'>
                       LDAP BOILERPLATE 
                    </div>
                    <div id='user_block' style='float: right'>
                    {% if user.is_authenticated %}
                        {{user.first_name|default:user}}<br />
                        <a href='{% url 'logout' %}'>Logout</a>
                    {% else %}
                        <a href='{% url 'login' %}'>Login</a>
                    {% endif %}
                    </div>
                </div>
                <div style='clear: both;'>
                    {% include "nav.html" %}
                </div>

            </div>
<!-- -------------------------------------------------------------------------------------------------------------------- -->            
            {% block content %}
            <span class='{{class}}'>{{ context_data |default:'HELLO WORLD'}}</span>
		Welcome to the boilerplate... <br />
		If you want to see hwo the ldap works, enable ldap_example in your settings.py and connect to your ldap server.<br/>
		At the end of the settings file, all settings for LDAP are defined. Make sure that you have the correct groups for
		django (see AUTH_LDAP_USER_FLAGS_BY_GROUP), and disable them, or update with your group.

            {% endblock content %}
<!-- -------------------------------------------------------------------------------------------------------------------- -->            

            <div id='footer'>
                {% block footer %}
                    LDAP DJANGO BOILERPLATE - inZit
                    <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
                        <img class="cc_footer" alt="Creative Commons License" style="border-width:0" 
                        src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>
                {% endblock footer %}        
            </div>
        </div>
    </div>
